
  .self_margin{
    margin-top: -108px;
  }
  .item_center p{

    text-align: center;
    padding-top: 13px;
  }
  .footer{
    height: 50px;
  
  }
  .reg-btn{
    background-color: #60adc2;
    margin-top: 10px;
 }
  .reg-btn:hover{
     background-color: rgb(153, 252, 153);
  }
  .form-group{
    margin-top: 10px;
  }
  .doct-reg-color{
    color: #d3eb7c !important;
  }