
  .self_margin{
    margin-top: -108px;
  }
  .item_center p{

    text-align: center;
    padding-top: 13px;
  }
  .footer{
    height: 50px;
  
  }
  .reg-btn{
    background-color: #45c8ec;
    margin-top: 10px;
 }
  .reg-btn:hover{
     background-color: rgb(106, 14, 114);
  }
  .form-group{
    margin-top: 10px;
  }
  .pat-reg-color{
    color: #f17781 !important;
  }